<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/djangoapp">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/djangoapp/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/djangoapp/about">About</a>
            </li>
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item order-2">
                <a class="nav-link" href="/djangoapp/signup">{{user.first_name}}</a>
            </li>
            <li class="nav-item order-2">
                <a class="nav-link" href="{% url 'djangoapp:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="dropdown order-1">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right mt-1">
                  <li class="p-3">
                        <form class="form" role="form" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input id="emailInput" placeholder="Email" class="form-control form-control-sm" type="text" required="" name="username">
                            </div>
                            <div class="form-group">
                                <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="password" required="" name="psw">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                            <div class="form-group text-xs-center">
                                <small><a href="#">Forgot password?</a></small>
                            </div>
                            {% if message %}
                            <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
                                {{ message }}
                            </div>
                            {% endif %}
                        </form>
                    </li>
                </ul>
            </li>
            <li class="nav-item order-2">
                <a class="nav-link" href="/djangoapp/registration">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    <!--Add a dealer table here -->
    <h1>
        Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
    </h1>

    </body>

</html>
